    <!-- Search Form -->
    <div id="search" class="top-search d-flex">
        <span class="close">
            <i class="fa fa-times"></i>
        </span>
        <div class="w-100 text-center mt-4">
            <h3 class="c-white fw-5">search here</h3>
            <form role="search" id="searchform" action="#" method="get" class="search-bar">
                <input value="" name="q" type="search" placeholder="type to search..." class="form-control">
                <button type="submit" class="submit-btn">
                    <i class="fa fa-search"></i>
                </button>
            </form>
        </div>
    </div>

    <!-- page-banner start-->
    <section class="page-banner">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h3>d4 Drive For Destination</h3>
                    <ul class="banner-link text-center">
                        <li>
                            <a href="index.html">Home</a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">listing</a>
                        </li>
                        <li>
                            <span class="active">d4 Drive For Destination</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- page-banner ends-->

    <!-- listing slider start-->
    <div class="bg-w sp-100">
        <div class="container-fluid">
            <div class="listing-detail-slider owl-carousel owl-theme px-4">
                <div class="list-slide">
                    <img src="assets/img/list/list-slide1.jpg" alt="listing">
                </div>
                <div class="list-slide">
                    <img src="assets/img/list/list-slide2.jpg" alt="listing">
                </div>
                <div class="list-slide">
                    <img src="assets/img/list/list-slide3.jpg" alt="listing">
                </div>
                <div class="list-slide">
                    <img src="assets/img/list/list-slide4.jpg" alt="listing">
                </div>
                <div class="list-slide">
                    <img src="assets/img/list/list-slide1.jpg" alt="listing">
                </div>
                <div class="list-slide">
                    <img src="assets/img/list/list-slide2.jpg" alt="listing">
                </div>
                <div class="list-slide">
                    <img src="assets/img/list/list-slide3.jpg" alt="listing">
                </div>
                <div class="list-slide">
                    <img src="assets/img/list/list-slide4.jpg" alt="listing">
                </div>
            </div>
        </div>
    </div>
    <!-- listing slider end -->

    <!-- listing detail start-->
    <div class="bg-w sp-100 pt-0">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-12">
                    <div class="listing-detail mb-60">
                        <h3 class="mb-30">d4 Drive For Destination</h3>
                        <div class="filter-box mb-30">
                <form action="#" method="post">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-6 col-12">
                            <div class="input-wrap">
                                <i class="fa fa-crosshairs"></i>
                                <input type="text" class="form-control" placeholder="location">
                            </div>
                        </div>
                      
                        <div class="col-lg-4 col-md-4 col-sm-6 col-12">
                            <div class="input-wrap">
                                <select class="form-control custom-select" id="service2">
                                    <option>all business partner</option>
                                    <option>hotel</option>
                                    <option>tour</option>
                                    <option>pharmacy</option>
                                    <option>shops</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-6 col-12">
                            <button type="submit" class="btn btn-one btn-anim w-100">
                                check now</button>
                        </div>
                    </div>
                </form>
            </div>
                        <div class="abt-listing">
                            <ul class="ctg-info centering justify-content-start">
                                <li>
                                    <a href="#">
                                        <h4>Area Requirement</h4>
                                        <i class="fa fa-chart-area mr-2"></i>500 SQ.FT</a>
                                </li>
                                <li class="my-1">
                                    <a href="#">
                                        <h4>Investment</h4>
                                        <i class="fa fa-money-bill-wave mr-2"></i> 25 LACS TO 1 CR.</a>
                                </li>
                            
                                <li class="my-1">
                                <a href="#">
                              
                                    <h4>Sales Team</h4>
                                    <i class="fa fa-users mr-2"></i> 5</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="mb-60">
                        <h4 class="title-sep3 mb-30">
                            Business Details
                        </h4>
                        <p>Officia irure in pariatur deserunt proident Lorem. Non ullamco ipsum adipisicing nisi do. Excepteur
                            ea amet ex dolor nisi laborum non anim non velit aute culpa nisi. Officia nostrud enim aliquip
                            ea ad occaecat. Irure magna consectetur eiusmod eu officia voluptate duis pariatur quis et. Incididunt
                            in deserunt duis adipisicing commodo sit in voluptate.</p>
                        <p>Velit cupidatat voluptate eu do ullamco est incididunt deserunt. Duis ut aliquip quis nostrud laboris
                            labore irure fugiat non ea pariatur. Nostrud culpa Lorem nulla excepteur et ut eu amet qui consequat
                            adipisicing nulla tesquwdfe eu, pr etium quis, sem.</p>
                    </div>
                    <div class="mb-60">
                        <h4 class="title-sep3 mb-30">
                            Services
                        </h4>
                        <div class="row minus-pad">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="w-100 mb-2">
                                    <input type="checkbox" name="checkbox" id="checkbox_id6" value="value" checked>
                                    <label for="checkbox_id6">Bulk Deals / Best Price</label>
                                </div>
                                <div class="w-100 mb-2">
                                    <input type="checkbox" name="checkbox" id="checkbox_id7" value="value" checked>
                                    <label for="checkbox_id7">15 days Replacement Warranty</label>
                                </div>
                                <div class="w-100 mb-2">
                                    <input type="checkbox" name="checkbox" id="checkbox_id8" value="value" checked>
                                    <label for="checkbox_id8">100% Quality Assurance</label>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="w-100 mb-2">
                                    <input type="checkbox" name="checkbox" id="checkbox_id9" value="value" checked>
                                    <label for="checkbox_id9">Fast & Free Shipping</label>
                                </div>
                                <div class="w-100 mb-2">
                                    <input type="checkbox" name="checkbox" id="checkbox_id10" value="value" checked>
                                    <label for="checkbox_id10">Five Star Helpline / Team Support</label>
                                </div>
                                <div class="w-100 mb-2">
                                    <input type="checkbox" name="checkbox" id="checkbox_id11" value="value" checked>
                                    <label for="checkbox_id11">Under one roof marketplace</label>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="w-100 mb-2">
                                    <input type="checkbox" name="checkbox" id="checkbox_id12" value="value" checked>
                                    <label for="checkbox_id12">Business Opportunity @Lowest Investment</label>
                                </div>
                            </div>
                           </div>
                    </div>

                    <div class="mb-60">
                        <h4 class="title-sep3 mb-30">
                            Categories
                        </h4>
                        <div class="row minus-pad">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="w-100 mb-2">
                                    <input type="checkbox" name="checkbox" id="checkbox_id6" value="value" checked>
                                    <label for="checkbox_id6">Two Wheeler Engine Oil</label>
                                </div>
                                <div class="w-100 mb-2">
                                    <input type="checkbox" name="checkbox" id="checkbox_id7" value="value" checked>
                                    <label for="checkbox_id7">Four Wheeler Engine Oil</label>
                                </div>
                                <div class="w-100 mb-2">
                                    <input type="checkbox" name="checkbox" id="checkbox_id8" value="value" checked>
                                    <label for="checkbox_id8">Diesel Engine Oil</label>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                                <div class="w-100 mb-2">
                                    <input type="checkbox" name="checkbox" id="checkbox_id9" value="value" checked>
                                    <label for="checkbox_id9">CNG Engine Oil</label>
                                </div>
                                <div class="w-100 mb-2">
                                    <input type="checkbox" name="checkbox" id="checkbox_id10" value="value" checked>
                                    <label for="checkbox_id10">Hydraulic Oil</label>
                                </div>
                                <div class="w-100 mb-2">
                                    <input type="checkbox" name="checkbox" id="checkbox_id11" value="value" checked>
                                    <label for="checkbox_id11">Industrial Oil</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mb-30">
                        <h4 class="title-sep3 mb-30">
                            available brands
                        </h4>
                        <div class="row">
                            <div class="col-12">
                                <div class="general-listing">
                                    <div class="img-list">
                                        <div class="image-holder">
                                            <img src="assets/img/home/pl-slide1.jpg" alt="listing">
                                        </div>
                                    </div>
                                    <div class="listing-content">
                                        <h5>standard single room</h5>
                                        <div class="centering justify-content-start">
                                            <p class="mr-4">Price Range :
                                                <span class="c-theme">60$ - 80$</span>
                                            </p>
                                            <p>Max Person :
                                                <span class="c-theme">3</span>
                                            </p>
                                        </div>
                                        <p> Mollit ullamco laborum laborum Lorem magna ipsum duis exercitation proident officia.</p>
                                        <div class="row minus-pad">
                                            <div class="col-xl-4 col-sm-6 col-12">
                                                <div class="aminities">
                                                    <i class="flaticon-bed-1"></i>
                                                    <span>single bad</span>
                                                </div>
                                            </div>
                                            <div class="col-xl-4 col-sm-6 col-12">
                                                <div class="aminities">
                                                    <i class="flaticon-computer-screen"></i>
                                                    <span>Tv Inside</span>
                                                </div>
                                            </div>
                                            <div class="col-xl-4 col-sm-6 col-12">
                                                <div class="aminities">
                                                    <i class="flaticon-shower"></i>
                                                    <span>Shower</span>
                                                </div>
                                            </div>
                                            <div class="col-xl-4 col-sm-6 col-12">
                                                <div class="aminities">
                                                    <i class="flaticon-air-conditioner"></i>
                                                    <span>Air Condition</span>
                                                </div>
                                            </div>
                                            <div class="col-xl-4 col-sm-6 col-12">
                                                <div class="aminities">
                                                    <i class="flaticon-wifi"></i>
                                                    <span>Free Wifi</span>
                                                </div>
                                            </div>
                                            <div class="col-xl-4 col-sm-6 col-12">
                                                <div class="aminities">
                                                    <i class="flaticon-meal"></i>
                                                    <span>Breakfast</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="general-listing">
                                    <div class="img-list">
                                        <div class="image-holder">
                                            <img src="assets/img/home/pl-slide2.jpg" alt="listing">
                                        </div>
                                    </div>
                                    <div class="listing-content">
                                        <h5>Deluxe Double Room</h5>
                                        <div class="centering justify-content-start">
                                            <p class="mr-4">Price Range :
                                                <span class="c-theme">70$ - 110$</span>
                                            </p>
                                            <p>Max Person :
                                                <span class="c-theme">6</span>
                                            </p>
                                        </div>
                                        <p> Mollit ullamco laborum laborum Lorem magna ipsum duis exercitation proident officia.</p>
                                        <div class="row minus-pad">
                                            <div class="col-xl-4 col-sm-6 col-12">
                                                <div class="aminities">
                                                    <i class="flaticon-bed-1"></i>
                                                    <span>double bad</span>
                                                </div>
                                            </div>
                                            <div class="col-xl-4 col-sm-6 col-12">
                                                <div class="aminities">
                                                    <i class="flaticon-computer-screen"></i>
                                                    <span>Tv Inside</span>
                                                </div>
                                            </div>
                                            <div class="col-xl-4 col-sm-6 col-12">
                                                <div class="aminities">
                                                    <i class="flaticon-shower"></i>
                                                    <span>Shower</span>
                                                </div>
                                            </div>
                                            <div class="col-xl-4 col-sm-6 col-12">
                                                <div class="aminities">
                                                    <i class="flaticon-air-conditioner"></i>
                                                    <span>Air Condition</span>
                                                </div>
                                            </div>
                                            <div class="col-xl-4 col-sm-6 col-12">
                                                <div class="aminities">
                                                    <i class="flaticon-wifi"></i>
                                                    <span>Free Wifi</span>
                                                </div>
                                            </div>
                                            <div class="col-xl-4 col-sm-6 col-12">
                                                <div class="aminities">
                                                    <i class="flaticon-meal"></i>
                                                    <span>Breakfast</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="general-listing">
                                    <div class="img-list">
                                        <div class="image-holder">
                                            <img src="assets/img/home/pl-slide3.jpg" alt="listing">
                                        </div>
                                    </div>
                                    <div class="listing-content">
                                        <h5>Superior Family Room</h5>
                                        <div class="centering justify-content-start">
                                            <p class="mr-4">Price Range :
                                                <span class="c-theme">100$ - 150$</span>
                                            </p>
                                            <p>Max Person :
                                                <span class="c-theme">9</span>
                                            </p>
                                        </div>
                                        <p> Mollit ullamco laborum laborum Lorem magna ipsum duis exercitation proident officia.</p>
                                        <div class="row minus-pad">
                                            <div class="col-xl-4 col-sm-6 col-12">
                                                <div class="aminities">
                                                    <i class="flaticon-bed"></i>
                                                    <span>double Bed</span>
                                                </div>
                                            </div>
                                            <div class="col-xl-4 col-sm-6 col-12">
                                                <div class="aminities">
                                                    <i class="flaticon-computer-screen"></i>
                                                    <span>Tv Inside</span>
                                                </div>
                                            </div>
                                            <div class="col-xl-4 col-sm-6 col-12">
                                                <div class="aminities">
                                                    <i class="flaticon-bathtub"></i>
                                                    <span>bathtub</span>
                                                </div>
                                            </div>
                                            <div class="col-xl-4 col-sm-6 col-12">
                                                <div class="aminities">
                                                    <i class="flaticon-air-conditioner"></i>
                                                    <span>Air Condition</span>
                                                </div>
                                            </div>
                                            <div class="col-xl-4 col-sm-6 col-12">
                                                <div class="aminities">
                                                    <i class="flaticon-wifi"></i>
                                                    <span>Free Wifi</span>
                                                </div>
                                            </div>
                                            <div class="col-xl-4 col-sm-6 col-12">
                                                <div class="aminities">
                                                    <i class="flaticon-meal"></i>
                                                    <span>Breakfast</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mb-30">
                        <h4 class="title-sep3 mb-30">
                            Statistic
                        </h4>
                        <div class="row">
                            <div class="col-md-3 col-sm-6 col-12">
                                <div class="stat-box">
                                    <i class="fa fa-eye"></i>
                                    <h5>540 Views</h5>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6 col-12">
                                <div class="stat-box">
                                    <i class="fa fa-star"></i>
                                    <h5>5 ratings</h5>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6 col-12">
                                <div class="stat-box">
                                    <i class="fa fa-share-alt"></i>
                                    <h5>10 shares</h5>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6 col-12">
                                <div class="stat-box">
                                    <i class="fa fa-heart"></i>
                                    <h5>7 favourites</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mb-30">
                        <h4 class="title-sep3 mb-30">
                            tags
                        </h4>
                        <ul class="tagcloud minus-pad">
                            <li>
                                <a href="#">Restaurants</a>
                            </li>
                            <li>
                                <a href="#">Events</a>
                            </li>
                            <li>
                                <a href="#">Tourism</a>
                            </li>
                            <li>
                                <a href="#">Trending</a>
                            </li>
                            <li>
                                <a href="#">Travel</a>
                            </li>
                        </ul>

                        <div class="row mt-30">
                            <div class="col-lg-3 col-md-4 mb-30">
                                <div class="rating-big-box mb-3">
                                    <h2>4.5</h2>
                                    <h6>superb</h6>
                                </div>
                                <div class="rating-btn-down">
                                    <a href="#" class="btn w-100 review-btn btn-anim">3 Reviews</a>
                                </div>
                            </div>
                            <div class="col-lg-9 col-md-8 mb-30">
                                <div class="rating-bar-box">
                                    <h6>
                                        <span>rating</span>
                                        <span>3.0</span>
                                    </h6>
                                    <div class="rating-bars">
                                        <span class="bar-fill" style="width:60%"></span>
                                    </div>
                                </div>
                                <div class="rating-bar-box">
                                    <h6>
                                        <span>facilities</span>
                                        <span>4</span>
                                    </h6>
                                    <div class="rating-bars">
                                        <span class="bar-fill" style="width:80%"></span>
                                    </div>
                                </div>
                                <div class="rating-bar-box">
                                    <h6>
                                        <span>staff</span>
                                        <span>4.5</span>
                                    </h6>
                                    <div class="rating-bars">
                                        <span class="bar-fill" style="width:90%"></span>
                                    </div>
                                </div>
                                <div class="rating-bar-box">
                                    <h6>
                                        <span>price</span>
                                        <span>3.5</span>
                                    </h6>
                                    <div class="rating-bars">
                                        <span class="bar-fill" style="width:70%"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mb-30">
                        <h4 class="title-sep3 mb-30">
                            3 Reviews
                        </h4>
                        <div class="row">
                            <div class="col-12">
                                <div class="review-box mb-30">
                                    <div class="image-holder">
                                        <img src="assets/img/blog/com-1.jpg" alt="author">
                                    </div>
                                    <div class="review-content">
                                        <div class="centering justify-content-between mb-3">
                                            <div>
                                                <h5 class="mb-0">Tom Perrins</h5>
                                                <p class="c-theme mb-0">26 april 2019</p>
                                            </div>
                                            <div class="d-flex flex-wrap">
                                                <div class="rating">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star-half-alt"></i>
                                                </div>
                                                <div class="rate-bg ml-4">
                                                    4.5
                                                </div>
                                            </div>
                                        </div>
                                        <p class="mb-0">Mollit aute dolore nisi sint tempor veniam ut magna aute. Et officia elit eu eu adipisicing
                                            consectetur cillum elit eiusmod dolore est culpa..</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="review-box mb-30">
                                    <div class="image-holder">
                                        <img src="assets/img/blog/com-2.jpg" alt="author">
                                    </div>
                                    <div class="review-content">
                                        <div class="centering justify-content-between mb-3">
                                            <div>
                                                <h5 class="mb-0">Kathy Brown</h5>
                                                <p class="c-theme mb-0">30 april 2019</p>
                                            </div>
                                            <div class="d-flex flex-wrap">
                                                <div class="rating">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star-half-alt"></i>
                                                    <i class="far fa-star"></i>
                                                </div>
                                                <div class="rate-bg ml-4">
                                                    3.5
                                                </div>
                                            </div>
                                        </div>
                                        <p class="mb-0">Mollit aute dolore nisi sint tempor veniam ut magna aute. Et officia elit eu eu adipisicing
                                            consectetur cillum elit eiusmod dolore est culpa..</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="review-box mb-30">
                                    <div class="image-holder">
                                        <img src="assets/img/blog/com-3.jpg" alt="author">
                                    </div>
                                    <div class="review-content">
                                        <div class="centering justify-content-between mb-3">
                                            <div>
                                                <h5 class="mb-0">William Dixion</h5>
                                                <p class="c-theme mb-0">28 april 2019</p>
                                            </div>
                                            <div class="d-flex flex-wrap">
                                                <div class="rating">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="far fa-star"></i>
                                                    <i class="far fa-star"></i>
                                                </div>
                                                <div class="rate-bg ml-4">
                                                    3.0
                                                </div>
                                            </div>
                                        </div>
                                        <p class="mb-0">Mollit aute dolore nisi sint tempor veniam ut magna aute. Et officia elit eu eu adipisicing
                                            consectetur cillum elit eiusmod dolore est culpa..</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mb-0">
                        <h4 class="title-sep3 mb-30">
                            add review
                        </h4>
                        <div class="row">
                            <div class="col-md-3 col-sm-6 col-12">
                                <div class="add-review">
                                    <div class="rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="far fa-star"></i>
                                        <i class="far fa-star"></i>
                                    </div>
                                    <h5>Rating*</h5>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6 col-12">
                                <div class="add-review">
                                    <div class="rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="far fa-star"></i>
                                        <i class="far fa-star"></i>
                                    </div>
                                    <h5>Facilities*</h5>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6 col-12">
                                <div class="add-review">
                                    <div class="rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="far fa-star"></i>
                                        <i class="far fa-star"></i>
                                    </div>
                                    <h5>Staff*</h5>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6 col-12">
                                <div class="add-review">
                                    <div class="rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="far fa-star"></i>
                                        <i class="far fa-star"></i>
                                    </div>
                                    <h5>Price*</h5>
                                </div>
                            </div>
                        </div>
                        <form class="comment-form" id="commentform" method="post" action="#">
                            <div class="row">
                                <div class="col-md-6 col-12">
                                    <span class="fa fa-user"></span>
                                    <input type="text" id="name" class="form-control" placeholder="Enter Name">
                                </div>
                                <div class="col-md-6 col-12">
                                    <span class="fa fa-envelope"></span>
                                    <input type="email" class="form-control" placeholder="Enter Email" name="Ented email" id="email">
                                </div>
                                <div class="col-12">
                                    <textarea rows="5" name="comment" class="form-control" placeholder="Your Message" id="comment"></textarea>
                                </div>
                                <div class="col-12">
                                    <button type="submit" class="btn btn-one btn-anim" id="submit" name="submit">
                                        <i class="fa fa-paper-plane"></i> submit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                  <div class="col-lg-4 col-12">
                    <aside class="sidebar">
                        <div class="widget widget_search">
                        <h4 class="title-sep2 mb-30">Check Avalaibility</h4>
                        <div class="filter-box mb-30">
                       <form action="#" method="post">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                              <div class="input-wrap">
                                <i class="fa fa-crosshairs"></i>
                                <input type="text" class="form-control" placeholder="city name">
                              </div>
                           </div>
                      
                            <div class="col-lg-6 col-md-6 col-sm-6 col-12">
                              <button type="submit" class="btn btn-one btn-anim w-100">
                                check now</button>
                              </div>
                          </div>
                       </form>
                        </div>
                            <div class="search-box">
                                       <div class="row">
                                         <div class="col-4 mb-30">CNF:</div>
                                         <div class="col-8 text-right">
                                        <button type="submit" class="btn btn-one btn-anim" id="submit" name="submit"><i class="fa fa-paper-plane"></i> availaible</button>
                                        </div>
                                        <div class="col-4 mb-30">Distributor:</div>
                                        <div class="col-8 text-right">
                                         <button type="submit" class="btn btn-one btn-anim" id="submit" name="submit"><i class="fa fa-paper-plane"></i> booked</button>
                                        </div>     
                                       <div class="col-4 mb-30">Dealer:</div>
                                        <div class="col-8 text-right">  <button type="submit" class="btn btn-one btn-anim" id="submit" name="submit"><i class="fa fa-paper-plane"></i> booked</button><br>
                                        </div>
                                        <div class="col-4 mb-30">Workshop:</div>
                                        <div class="col-8 text-right">
                                           <button type="submit" class="btn btn-one btn-anim" id="submit" name="submit"><i class="fa fa-paper-plane"></i> availaible</button>
                                      </div>
                                    
                                    <div class="widget">
                                    <h4 class="title-sep2 mb-30">Enquiry Form</h4>
                                   <form class="comment-form" id="commentform" method="post" action="#">
                                    <div class="row">
                                        <div class="col-12">
                                            <span class="fa fa-user"></span>
                                            <input type="text" id="name" class="form-control" placeholder="Enter Name">
                                        </div>
                                        <div class="col-12">
                                            <span class="fa fa-envelope"></span>
                                            <input type="email" class="form-control" placeholder="Enter Email" name="Ented email" id="email">
                                        </div>
                                        <div class="col-12">
                                            <span class="fa fa-user"></span>
                                            <input type="text" id="name" class="form-control" placeholder="Enter Mobile">
                                        </div>
                                        <div class="col-12">
                                            <span class="fa fa-envelope"></span>
                                            <input type="email" class="form-control" placeholder="Enter City" name="Ented email" id="email">
                                        </div>
                                        <div class="col-6">
                                            <select class="form-control">
                                                <option>Apply For</option>
                                                <option>CNF</option>
                                                <option>Distributor</option>
                                                <option>Dealer</option>
                                                <option>WholeSeller</option>
                                            </select>
                                        </div>
                                         <div class="col-6">
                                            <select class="form-control">
                                                <option>Investment</option>
                                                <option> < 1 Lakh</option>
                                                <option>1 to 5 Lakhs</option>
                                                <option>25 to 1 Crore</option>
                                                <option>1 to 5 Crore</option>
                                            </select>
                                        </div>
                                       
                                        <div class="col-12 mb-30">
                                            <button type="submit" class="btn btn-one btn-anim" id="submit" name="submit">
                                                <i class="fa fa-paper-plane"></i> submit</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                       
                        <div class="widget">
                            <h4 class="title-sep2 mb-30">business info</h4>
                            <ul class="contact-info mt-4">
                                <li>
                                    <i class="fa fa-phone"></i>
                                    123-456-7890, 0123-456-789
                                </li>
                                <li>
                                    <i class="fa fa-envelope"></i>
                                    Support@company.com
                                </li>
                                <li>
                                    <i class="fa fa-map-marker-alt"></i>
                                    Consectetur 241, sed Ac-1252, UK
                                </li>
                                <li>
                                    <i class="fa fa-globe-asia"></i>
                                    www.websiteaname.com
                                </li>
                            </ul>
                            <div class="socials sidebar-socials mt-3 mb-30">
                                <div class="side-icon">
                                    <i class="fa fa-share-alt"></i>
                                </div>
                                <div>
                                    <a href="#">
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                    <a href="#">
                                        <i class="fab fa-google-plus-g"></i>
                                    </a>
                                    <a href="#">
                                        <i class="fab fa-instagram"></i>
                                    </a>
                                    <a href="#">
                                        <i class="fab fa-linkedin-in"></i>
                                    </a>
                                    <a href="#">
                                        <i class="fab fa-twitter"></i>
                                    </a>
                                    <a href="#">
                                        <i class="fab fa-vine"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                       
                        <div class="widget">
                            <h4 class="title-sep2 mb-30">Recently Added Brands</h4>
                            <div class="sidebar-listing-slider owl-carousel owl-theme">
                                <div class="listing-item p-2">
                                    <div class="img-holder">
                                        <span class="offer">save 49%
                                        </span>
                                        <img src="assets/img/home/pl-slide1.jpg" alt="list">
                                        <div class="rate-like centering justify-content-between">
                                            <div class="rating">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="far fa-star"></i>
                                                <i class="far fa-star"></i>
                                            </div>
                                            <a class="likes" href="#">
                                                <i class="far fa-heart"></i> 41
                                            </a>
                                        </div>
                                    </div>
                                    <div class="list-content p-2">
                                        <h5 class="mt-3 mb-2">
                                            <a href="#">the lounge &amp; bar</a>
                                        </h5>
                                        <ul class="ctg-info2 pt-2 mt-3 d-flex justify-content-between flex-wrap">
                                            <li class="mt-1">
                                                <a href="#">
                                                    <i class="fa fa-map-marker-alt mr-2"></i>San Francisco</a>
                                            </li>
                                            <li class="mt-1">
                                                <a href="#">
                                                    <i class="fa fa-phone mr-2"></i>0123-456-789</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="listing-item p-2">
                                    <div class="img-holder">
                                        <span class="offer">save 30%
                                        </span>
                                        <img src="assets/img/home/pl-slide2.jpg" alt="list">
                                        <div class="rate-like centering justify-content-between">
                                            <div class="rating">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="far fa-star"></i>
                                                <i class="far fa-star"></i>
                                                <i class="far fa-star"></i>
                                            </div>
                                            <a class="likes" href="#">
                                                <i class="far fa-heart"></i> 22
                                            </a>
                                        </div>
                                    </div>
                                    <div class="list-content p-2">
                                        <h5 class="mt-3 mb-2">
                                            <a href="#">the best shop in city</a>
                                        </h5>
                                        <ul class="ctg-info2 pt-2 mt-3 d-flex justify-content-between flex-wrap">
                                            <li class="mt-1">
                                                <a href="#">
                                                    <i class="fa fa-map-marker-alt mr-2"></i>San Francisco</a>
                                            </li>
                                            <li class="mt-1">
                                                <a href="#">
                                                    <i class="fa fa-phone mr-2"></i>0123-456-789</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="listing-item p-2">
                                    <div class="img-holder">
                                        <span class="offer">save 19%
                                        </span>
                                        <img src="assets/img/home/pl-slide3.jpg" alt="list">
                                        <div class="rate-like centering justify-content-between">
                                            <div class="rating">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="far fa-star"></i>
                                            </div>
                                            <a class="likes" href="#">
                                                <i class="far fa-heart"></i> 06
                                            </a>
                                        </div>
                                    </div>
                                    <div class="list-content p-2">
                                        <h5 class="mt-3 mb-2">
                                            <a href="#">enjoy best nightlife</a>
                                        </h5>
                                        <ul class="ctg-info2 pt-2 mt-3 d-flex justify-content-between flex-wrap">
                                            <li class="mt-1">
                                                <a href="#">
                                                    <i class="fa fa-map-marker-alt mr-2"></i>San Francisco</a>
                                            </li>
                                            <li class="mt-1">
                                                <a href="#">
                                                    <i class="fa fa-phone mr-2"></i>0123-456-789</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="widget">
                            <h4 class="title-sep2 mb-30">about author</h4>
                            <div class="widget-author">
                                <div class="author-top text-right mb-4">
                                    <div class="img-holder">
                                        <img src="assets/img/blog/aut-big.png" alt="#">
                                    </div>
                                    <div class="author-info">
                                        <h5 class="c-white">Julia Holmes</h5>
                                        <span>co manager</span>
                                    </div>
                                </div>
                                <p class="bor-b pb-3">Excepteur enim aute dolor culpa aliqua nulla. Non labore est irure ipsum cupidatat amet fugiat
                                    quis voluptate cillum velit qui.</p>
                                <div class="socials">
                                    <a href="#">
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                    <a href="#">
                                        <i class="fab fa-google-plus-g"></i>
                                    </a>
                                    <a href="#">
                                        <i class="fab fa-instagram"></i>
                                    </a>
                                    <a href="#">
                                        <i class="fab fa-linkedin-in"></i>
                                    </a>
                                    <a href="#">
                                        <i class="fab fa-twitter"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    
                </div>
       
    </div>
    <!-- listing detail end -->

    <!-- cta-one start-->
    <section class="cta-one tri-bg-w text-lg-left text-center">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 my-lg-0 my-5 py-lg-0 py-5">
                    <div class="cta-content">
                        <h3>Sign Up To Get Special Offers Every Day</h3>
                        <p>Lorem ipsum dolor sit amet, consectadetudzdae rcquisc adipiscing elit. Aenean socada commodo ligaui
                            egets dolor. </p>
                        <a href="login.html" class="btn btn-two btn-anim mt-2">
                            sign up
                        </a>
                    </div>
                </div>
                <div class="col-lg-6 d-lg-block d-none">
                    <div class="cta-img mt-4">
                        <img src="assets/img/home/cta-bg.png" alt="image">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- cta-one end -->