<header class="header">
    <div class="head-top head-top-one d-none d-lg-block">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-3">
                    <div class="socials socials-header text-lg-left text-center">
                        <a href="#">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <a href="#">
                            <i class="fab fa-google-plus-g"></i>
                        </a>
                        <a href="#">
                            <i class="fab fa-instagram"></i>
                        </a>
                        <a href="#">
                            <i class="fab fa-linkedin-in"></i>
                        </a>
                        <a href="#">
                            <i class="fab fa-twitter"></i>
                        </a>
                    </div>
                </div>
                <div class="col-lg-9">
                    <ul class="head-contact text-lg-right text-center">
                        <li>
                            <i class="fa fa-phone"></i>
                            +91-1234567890
                        </li>
                        <li>
                            <i class="fa fa-envelope"></i>
                            info@inzin.in
                        </li>
                        <li class="language-drop">
                            <div class="dropdown">
                                <a href="#" class="dropdown-toggle text-capitalize" data-toggle="dropdown">
                                    english
                                </a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="#">hindi</a>
                                    <a class="dropdown-item" href="#">urdu</a>
                                    <a class="dropdown-item" href="#">english</a>
                                </div>
                            </div>
                        </li>
                        <li class="ad-list">
                            <a href="login.html" class="btn btn-two btn-anim">
                                <i class="fa fa-plus-circle"></i> login/signup
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="theme-header-one affix">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-3 col-md-12">
                    <div class="logo-one logo-wrap">
                        <div class="logo my-1">
                            <a href="index.html">
                                <img src="assets/img/logo.png" alt="logo">
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-9 col-md-12">
                    <div class="menu menu-one">
                        <nav class="navbar navbar-expand-lg">
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav-content" aria-controls="nav-content"
                                aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon bar1"></span>
                                <span class="navbar-toggler-icon bar2"></span>
                                <span class="navbar-toggler-icon bar3"></span>
                            </button>
                            <!-- Links -->
                            <div class="main-menu collapse navbar-collapse" id="nav-content">
                                <ul class="navbar-nav ml-auto">
                                    <li class="nav-item">
                                        <a href="#" class="nav-link" href="index.html">home</a>
                                    </li>
                                     <li class="nav-item dropdown">
                                        <a href="category.html" class="nav-link dropdown-toggle current" data-toggle="dropdown">Category</a>
                                        <ul class="dropdown-menu">
                                            <li class="dropdown-item dropdown">
                                                <a href="#">Category 1</a>
                                            </li>
                                            <li class="dropdown-item dropdown">
                                                <a href="#">Category 2</a>
                                            </li>
                                            <li class="dropdown-item dropdown">
                                                <a href="#">Category 3</a>
                                            </li>
                                        </ul>
                                    </li>

                                    <li class="nav-item">
                                        <a class="nav-link" href="services.html">Services</a>
                                    </li>
                                    <li class="nav-item dropdown">
                                        <a href="business-partner.html" class="nav-link dropdown-toggle current" data-toggle="dropdown">Business Partner</a>
                                        <ul class="dropdown-menu">
                                            <li class="dropdown-item dropdown">
                                                <a href="dealer.html">Dealer</a>
                                            </li>
                                            <li class="dropdown-item dropdown">
                                                <a href="distributor.html">Distributor</a>
                                            </li>
                                            <li class="dropdown-item dropdown">
                                                <a href="cnf.html">CNF</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="business-referral-program.html">BRP</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="franchise.html">Franchises</a>
                                    </li>
                                    <li class="nav-item d-lg-block d-none">
                                        <a href="offer-zone.html" class="btn btn-one btn-anim br-5 px-3 nav-btn">
                                            <i class="fa fa-plus-circle"></i> sell with us
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>