 <!-- Search Form -->
 <div id="search" class="top-search d-flex">
    <span class="close">
        <i class="fa fa-times"></i>
    </span>
    <div class="w-100 text-center mt-4">
        <h3 class="c-white fw-5">search here</h3>
        <form role="search" id="searchform" action="#" method="get" class="search-bar">
            <input value="" name="q" type="search" placeholder="type to search..." class="form-control">
            <button type="submit" class="submit-btn">
                <i class="fa fa-search"></i>
            </button>
        </form>
    </div>
</div>

<!-- page-banner start-->
<section class="page-banner">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h3>Lubricants</h3>
                <ul class="banner-link text-center">
                    <li>
                        <a href="index.html">Home</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">Automotive</a>
                    </li>
                    <li>
                        <span class="active">Product</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- page-banner ends-->

<!-- listings start-->
<div class="bg-w sp-100">
    <div class="container">
        <div class="filter-box mb-30">
            <form action="#" method="post">
                <div class="row">
                    <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                        <div class="input-wrap">
                            <i class="fa fa-crosshairs"></i>
                            <input type="text" class="form-control" placeholder="location">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 col-12">
                        <div class="input-wrap">
                            <select class="form-control custom-select" id="service2">
                                <option>all brands</option>
                                <option>hotel</option>
                                <option>tour</option>
                                <option>pharmacy</option>
                                <option>shops</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 col-12">
                        <div class="input-wrap">
                            <select class="form-control custom-select" id="service2">
                                <option>all business partner</option>
                                <option>hotel</option>
                                <option>tour</option>
                                <option>pharmacy</option>
                                <option>shops</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-4 col-sm-6 col-12">
                        <button type="submit" class="btn btn-one btn-anim w-100">
                            check now</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="checklist-box mb-30">
            <div class="toggle-checklist mb-60">
                <a href="#" class="toggle-icon open">
                    <i class="fa fa-plus"></i>
                </a>
            </div>
            <div class="filter-checklist">
                <div class="row minus-pad">
                    <div class="col-md-12 mb-30">
                        <h5 class="mb-30">subcategory</h5>
                        <div class="row">
                           <div class="list-category-slider owl-carousel owl-theme mb-60">
            <div class="list-items2 btn-anim">
                <div class="icon-box">
                    <i class="flaticon-find"></i>
                </div>
                <h5 class="mb-0 mt-3">
                    <a href="#">Category</a>
                </h5>
            </div>
            <div class="list-items2 btn-anim">
                <div class="icon-box">
                    <i class="flaticon-spa"></i>
                </div>
                <h5 class="mb-0 mt-3">
                    <a href="#">Category</a>
                </h5>
            </div>
            <div class="list-items2 btn-anim">
                <div class="icon-box">
                    <i class="flaticon-cheers"></i>
                </div>
                <h5 class="mb-0 mt-3">
                    <a href="#">Category</a>
                </h5>
            </div>
            <div class="list-items2 btn-anim">
                <div class="icon-box">
                    <i class="flaticon-hotel"></i>
                </div>
                <h5 class="mb-0 mt-3">
                    <a href="#">Category</a>
                </h5>
            </div>
            <div class="list-items2 btn-anim">
                <div class="icon-box">
                    <i class="flaticon-cutlery"></i>
                </div>
                <h5 class="mb-0 mt-3">
                    <a href="#">Category</a>
                </h5>
            </div>
            <div class="list-items2 btn-anim">
                <div class="icon-box">
                    <i class="flaticon-shop"></i>
                </div>
                <h5 class="mb-0 mt-3">
                    <a href="#">Category</a>
                </h5>
            </div>
            <div class="list-items2 btn-anim">
                <div class="icon-box">
                    <i class="flaticon-drama"></i>
                </div>
                <h5 class="mb-0 mt-3">
                    <a href="#">Category</a>
                </h5>
            </div>
        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="action-list">
            <div class="row">
                <div class="col-md-3 col-6 mb-30">
                    <div class="sort-filter">
                        <div class="sort-dropdown">
                            <a href="#" class="dropdown-toggle text-capitalize" data-toggle="dropdown">
                                Popularity
                            </a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="#">low to high</a>
                                <a class="dropdown-item" href="#">hight to low</a>
                                <a class="dropdown-item" href="#">relevance</a>
                                <a class="dropdown-item" href="#">discount</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-9 col-6 mb-30">
                    <div class="view-mode justify-content-end d-flex">
                        <div class="grid-view views current">
                            <i class="fa fa-th"></i>
                        </div>
                        <div class="list-view views">
                            <i class="fa fa-list-ul"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="list-grid-view show-list">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-12 mb-30">
                    <div class="listing-item p-2">
                        <div class="img-holder">
                            <span class="offer">save 49%
                            </span>
                            <img src="assets/img/home/pl-slide1.jpg" alt="list">
                            <div class="rate-like centering justify-content-between">
                                <div class="rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                </div>
                                <a class="likes" href="#">
                                    <i class="far fa-heart"></i>55
                                </a>
                            </div>
                        </div>
                        <div class="list-content p-2">
                            <ul class="ctg-info py-2 mb-3">
                                <li>
                                    <a href="#">
                                        <i class="flaticon-cutlery mr-2"></i> brands</a>
                                </li>
                                <li>
                                    <span class="c-theme"> choose Business</span>
                                </li>
                            </ul>
                            <h5 class="mb-2 text-center">
                                <a href="listing-detail.html">Product Name</a>
                            </h5>
                            <p class="text-center">Description</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12 mb-30">
                    <div class="listing-item p-2">
                        <div class="img-holder">
                            <span class="offer">save 49%
                            </span>
                            <img src="assets/img/home/pl-slide1.jpg" alt="list">
                            <div class="rate-like centering justify-content-between">
                                <div class="rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                </div>
                                <a class="likes" href="#">
                                    <i class="far fa-heart"></i>55
                                </a>
                            </div>
                        </div>
                        <div class="list-content p-2">
                            <ul class="ctg-info py-2 mb-3">
                                <li>
                                    <a href="#">
                                        <i class="flaticon-cutlery mr-2"></i> brands</a>
                                </li>
                                <li>
                                    <span class="c-theme"> choose Business</span>
                                </li>
                            </ul>
                            <h5 class="mb-2 text-center">
                                <a href="listing-detail.html">Product Name</a>
                            </h5>
                            <p class="text-center">Description</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12 mb-30">
                    <div class="listing-item p-2">
                        <div class="img-holder">
                            <span class="offer">save 49%
                            </span>
                            <img src="assets/img/home/pl-slide1.jpg" alt="list">
                            <div class="rate-like centering justify-content-between">
                                <div class="rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                </div>
                                <a class="likes" href="#">
                                    <i class="far fa-heart"></i>55
                                </a>
                            </div>
                        </div>
                        <div class="list-content p-2">
                            <ul class="ctg-info py-2 mb-3">
                                <li>
                                    <a href="#">
                                        <i class="flaticon-cutlery mr-2"></i> brands</a>
                                </li>
                                <li>
                                    <span class="c-theme"> choose Business</span>
                                </li>
                            </ul>
                            <h5 class="mb-2 text-center">
                                <a href="listing-detail.html">Product Name</a>
                            </h5>
                            <p class="text-center">Description</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12 mb-30">
                    <div class="listing-item p-2">
                        <div class="img-holder">
                            <span class="offer">save 49%
                            </span>
                            <img src="assets/img/home/pl-slide1.jpg" alt="list">
                            <div class="rate-like centering justify-content-between">
                                <div class="rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                </div>
                                <a class="likes" href="#">
                                    <i class="far fa-heart"></i>55
                                </a>
                            </div>
                        </div>
                        <div class="list-content p-2">
                            <ul class="ctg-info py-2 mb-3">
                                <li>
                                    <a href="#">
                                        <i class="flaticon-cutlery mr-2"></i> brands</a>
                                </li>
                                <li>
                                    <span class="c-theme"> choose Business</span>
                                </li>
                            </ul>
                            <h5 class="mb-2 text-center">
                                <a href="listing-detail.html">Product Name</a>
                            </h5>
                            <p class="text-center">Description</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12 mb-30">
                    <div class="listing-item p-2">
                        <div class="img-holder">
                            <span class="offer">save 49%
                            </span>
                            <img src="assets/img/home/pl-slide1.jpg" alt="list">
                            <div class="rate-like centering justify-content-between">
                                <div class="rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                </div>
                                <a class="likes" href="#">
                                    <i class="far fa-heart"></i>55
                                </a>
                            </div>
                        </div>
                        <div class="list-content p-2">
                            <ul class="ctg-info py-2 mb-3">
                                <li>
                                    <a href="#">
                                        <i class="flaticon-cutlery mr-2"></i> brands</a>
                                </li>
                                <li>
                                    <span class="c-theme"> choose Business</span>
                                </li>
                            </ul>
                            <h5 class="mb-2 text-center">
                                <a href="listing-detail.html">Product Name</a>
                            </h5>
                            <p class="text-center">Description</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12 mb-30">
                    <div class="listing-item p-2">
                        <div class="img-holder">
                            <span class="offer">save 49%
                            </span>
                            <img src="assets/img/home/pl-slide1.jpg" alt="list">
                            <div class="rate-like centering justify-content-between">
                                <div class="rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                </div>
                                <a class="likes" href="#">
                                    <i class="far fa-heart"></i>55
                                </a>
                            </div>
                        </div>
                        <div class="list-content p-2">
                            <ul class="ctg-info py-2 mb-3">
                                <li>
                                    <a href="#">
                                        <i class="flaticon-cutlery mr-2"></i> brands</a>
                                </li>
                                <li>
                                    <span class="c-theme"> choose Business</span>
                                </li>
                            </ul>
                            <h5 class="mb-2 text-center">
                                <a href="listing-detail.html">Product Name</a>
                            </h5>
                            <p class="text-center">Description</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12 mb-30">
                    <div class="listing-item p-2">
                        <div class="img-holder">
                            <span class="offer">save 49%
                            </span>
                            <img src="assets/img/home/pl-slide1.jpg" alt="list">
                            <div class="rate-like centering justify-content-between">
                                <div class="rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                </div>
                                <a class="likes" href="#">
                                    <i class="far fa-heart"></i>55
                                </a>
                            </div>
                        </div>
                        <div class="list-content p-2">
                            <ul class="ctg-info py-2 mb-3">
                                <li>
                                    <a href="#">
                                        <i class="flaticon-cutlery mr-2"></i> brands</a>
                                </li>
                                <li>
                                    <span class="c-theme"> choose Business</span>
                                </li>
                            </ul>
                            <h5 class="mb-2 text-center">
                                <a href="listing-detail.html">Product Name</a>
                            </h5>
                            <p class="text-center">Description</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12 mb-30">
                    <div class="listing-item p-2">
                        <div class="img-holder">
                            <span class="offer">save 49%
                            </span>
                            <img src="assets/img/home/pl-slide1.jpg" alt="list">
                            <div class="rate-like centering justify-content-between">
                                <div class="rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                </div>
                                <a class="likes" href="#">
                                    <i class="far fa-heart"></i>55
                                </a>
                            </div>
                        </div>
                        <div class="list-content p-2">
                            <ul class="ctg-info py-2 mb-3">
                                <li>
                                    <a href="#">
                                        <i class="flaticon-cutlery mr-2"></i> brands</a>
                                </li>
                                <li>
                                    <span class="c-theme"> choose Business</span>
                                </li>
                            </ul>
                            <h5 class="mb-2 text-center">
                                <a href="listing-detail.html">Product Name</a>
                            </h5>
                            <p class="text-center">Description</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12 mb-30">
                    <div class="listing-item p-2">
                        <div class="img-holder">
                            <span class="offer">save 49%
                            </span>
                            <img src="assets/img/home/pl-slide1.jpg" alt="list">
                            <div class="rate-like centering justify-content-between">
                                <div class="rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="far fa-star"></i>
                                    <i class="far fa-star"></i>
                                </div>
                                <a class="likes" href="#">
                                    <i class="far fa-heart"></i>55
                                </a>
                            </div>
                        </div>
                        <div class="list-content p-2">
                            <ul class="ctg-info py-2 mb-3">
                                <li>
                                    <a href="#">
                                        <i class="flaticon-cutlery mr-2"></i> brands</a>
                                </li>
                                <li>
                                    <span class="c-theme"> choose Business</span>
                                </li>
                            </ul>
                            <h5 class="mb-2 text-center">
                                <a href="listing-detail.html">Product Name</a>
                            </h5>
                            <p class="text-center">Description</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 text-center mt-30">
                    <a href="#" class="btn btn-one btn-anim">load more</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- listings end -->

<!-- cta-one start-->
<section class="cta-one tri-bg-w text-lg-left text-center">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 my-lg-0 my-5 py-lg-0 py-5">
                <div class="cta-content">
                    <h3>Sign Up To Get Special Offers Every Day</h3>
                    <p>Lorem ipsum dolor sit amet, consectadetudzdae rcquisc adipiscing elit. Aenean socada commodo ligaui
                        egets dolor. </p>
                    <a href="login.html" class="btn btn-two btn-anim mt-2">
                        sign up
                    </a>
                </div>
            </div>
            <div class="col-lg-6 d-lg-block d-none">
                <div class="cta-img mt-4">
                    <img src="assets/img/home/cta-bg.png" alt="image">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- cta-one end -->