<footer class="footer footer-one">
    <div class="foot-top">
        <div class="container">
            <div class="row">
                <div class="col-xl-4 col-lg-12 col-12 mb-60">
                    <div class="company-details">
                        <img src="assets/img/logo.png" class="foot-logo mb-4" alt="lister">
                        <p class="pb-2">Lorem ipsum dolor sit amet, consect tuer adipi cin elit. Aen sociis nato pe na ibus magnis dis
                            partur monte na et ridiculu onec quam felis. castei efte tuerg scn kt isceding elit ende
                            cd magum socadaiis nato ipsf.</p>
                        <div class="socials mt-4">
                            <a href="#">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                            <a href="#">
                                <i class="fab fa-google-plus-g"></i>
                            </a>
                            <a href="#">
                                <i class="fab fa-instagram"></i>
                            </a>
                            <a href="#">
                                <i class="fab fa-linkedin-in"></i>
                            </a>
                            <a href="#">
                                <i class="fab fa-twitter"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-3 col-md-6 col-sm-6 col-12 mb-60">
                    <div class="recent-post">
                        <div class="foot-title">
                            <h4>useful links</h4>
                        </div>
                        <ul class="quick-link">
                            <li>
                                <a href="about.html">About</a>
                            </li>
                            <li>
                                <a href="register.html">register</a>
                            </li>
                            <li>
                                <a href="login.html">sign in</a>
                            </li>
                            <li>
                                <a href="terms-conditions.html">Terms & Condition</a>
                            </li>
                            <li>
                                <a href="contact.html">contact us</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-3 col-md-6 col-sm-6 col-12 mb-60">
                    <div class="recent-post">
                        <div class="foot-title">
                            <h4>my account</h4>
                        </div>
                        <ul class="quick-link">
                            <li>
                                <a href="login.html">create account</a>
                            </li>
                            <li>
                                <a href="#">dashboard</a>
                            </li>
                            <li>
                                <a href="#">profile</a>
                            </li>
                            <li>
                                <a href="#">my listing</a>
                            </li>
                            <li>
                                <a href="#">favorites</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-3 col-md-6 col-sm-6 col-12 mb-60">
                    <div class="recent-post">
                        <div class="foot-title">
                            <h4>categories</h4>
                        </div>
                        <ul class="quick-link">
                            <li>
                                <a href="#">Restaurants</a>
                            </li>
                            <li>
                                <a href="#">Shopping</a>
                            </li>
                            <li>
                                <a href="#">Hotels</a>
                            </li>
                            <li>
                                <a href="#">Destinations</a>
                            </li>
                            <li>
                                <a href="#">Nightlife</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-3 col-md-6 col-sm-6 col-12 mb-60">
                    <div class="recent-post">
                        <div class="foot-title">
                            <h4>quick links</h4>
                        </div>
                        <ul class="quick-link">
                            <li>
                                <a href="brand.html">Brand</a>
                            </li>
                            <li>
                                <a href="brands.html">Brands</a>
                            </li>
                            <li>
                                <a href="vendor.html">Vendors</a>
                            </li>
                            <li>
                                <a href="product.html">Product</a>
                            </li>
                            <li>
                                <a href="#">Our Partners</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="foot-bottom">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <p class="text-capitalize">Copyright © 2019, All rights Reserved. Created by
                        <a href="#">INZIN AUTOMOTIVE PVT LTD</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>